/**
 * TODO make the sizes relative
 **/
.menu{
	width: 100%;
}
.menu-title{
	width: 100%;
	font-weight: bold;
	font-size: 1.5em;
	border-bottom: 2px solid black;	
}
.menu-button{
	padding: 5px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #ABABAB;
	clear: both;
}

.menu-button:active{
	background-color: #CBCBCB;
}

.clear-div{
	clear: both;
}
.menu-right{
	float: right;
	padding: 10px 5px;;
	text-align: right;
  font-size: 1.25em;
  width: 20%;
}
.menu-left{
	padding: 5px 5px;
	width: 70%;
	float: left;
}

.menu-left .menu-text{
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}

.menu-subtext{
	display: block;
	font-style: italic;
}
.danger{
	color: red;
}
.warning{
	color: #FFA500;
}
.good{
	color: green;
}
