	<form>
		{{> labelHint}}
				<div class="menu">
					<div class="menu-title">Menu test</div>
				{{#each choices}}
					<div class="menu-button">
						<div class="menu-left">
							<span class="menu-text">{{name}}</span>
							<span class="menu-subtext">subtext</span>
						</div>
						<div class="menu-right">
							<span class="menu-text">{{name}}</span>
							<span class="menu-subtext">subtext</span>
						</div>
					 </div>
				{{/each}}
				</div><!-- /menu-grid -->
	</form>
		<div style="clear:both;"></div>
