.menu{
	width: 100%;
}
.menu-title{
	width: 100%;
	font-weight: bold;
	font-size: 2em;
	border-bottom: 2px solid black;	
}
.menu-button{
	padding: 5px;
	background-color: #FAFAFA;
	height: 80px;
	border-bottom: 1px solid #ABABAB;
}

.menu-button:hover{
	background-color: #CBCBCB;
}

.menu-right{
	float: right;
	margin: 25px 10px 10px 10px;
}
.menu-left{
	float: left;
	margin: 15px 10px 10px 10px;
}

.menu-left .menu-text{
	display: block;
	font-size: 2em;
	font-weight: bold;
}

.menu-subtext{
	display: block;
	font-style: italic;
}

